/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}



/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Add in your own customisations */

/* Header styling */
header {
    background-color: #93d0f4;
    text-align: center;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

/* Section styling */
section {
    margin-bottom: 20px;
}

/* Table styling */
table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    border: 1px solid #ddd;
    padding: 10px;
}

/* Hyperlink styling */
a {
    color: #0079c1;
}

/* Footer styling */
footer {
    background-color: #93d0f4;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}